<!DOCTYPE html PUBLIC "-//W3C//Dli XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/Dli/xhtml11.dli">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
		<title>Spacewar! PPCG KotH</title>
		
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'agora_spacewar/main.css' %}" />
		<style>
			textarea {
                width: 80%;
                height: 15em;
            }
            table {
                border-collapse: collapse;
                border: 2px solid black;
            }
            .error { color: red; }
            table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
                content: " \25B4\25BE" 
            }
		</style>
	</head>
	
	<body>
	
		<h1>PPCG &ndash; Spacewar! King of the Hill</h1>
		
		<div id="playfield" tabindex="1"></div>
		
		<table id="action-table">
			<tr>
				<th>Action</th>
				<th>Red</th>
				<th>Blue</th>
			</tr>
			<tr>
				<td>Turn left</td>
				<td id="red-turn-left">Z</td>
				<td id="blue-turn-left">N</td>
			</tr>
			<tr>
				<td>Turn right</td>
				<td id="red-turn-right">X</td>
				<td id="blue-turn-right">M</td>
			</tr>
			<tr>
				<td>Hyperspace</td>
				<td id="red-hyperspace">C</td>
				<td id="blue-hyperspace">,</td>
			</tr>
			<tr>
				<td>Fire engine</td>
				<td id="red-fire-engine">V</td>
				<td id="blue-fire-engine">.</td>
			</tr>
			<tr>
				<td>Fire missile</td>
				<td id="red-fire-missile">B</td>
				<td id="blue-fire-missile">/</td>
			</tr>
			<tr>
				<td>Reset field</td>
				<td colspan=2>SPACEBAR</td>
			</tr>
			<tr>
				<td>Restart game</td>
				<td colspan=2>S</td>
			</tr>
			<tr>
				<td>Stop anim</td>
				<td colspan=2>ESC</td>
			</tr>
			<tr>
				<td>Resume anim</td>
				<td colspan=2>ENTER</td>
			</tr>
		</table>
		
		<br/>
		
		<p>
			<button onclick="clearInterval(renderLoop); renderLoop=false;">Stop the animation!</button>
			<button onclick="setupGame(0)">Reset</button>
			<button onclick="setupGame(1)">Restart</button>
			Gravity? <input type="checkbox" id="gravityCheck" checked></input>
			Intersections? <input type="checkbox" id="showIntersections"></input>
			Accelerated? <input type="checkbox" id="accelerated"></input>
			<br/>
			<button onclick="runAll('all')">Run all pairings</button>
			<button onclick="runAll('red')">Run all against Red</button>
			<button onclick="runAll('blue')">Run all against Blue</button>
			Number of games per pair: <input type="text" id="numGames" size="3" value="20"></input>
		</p>
		
		<br/>
		
		<div id="userbot">
			<pre>function userbot_setup(team) {
    var botVars = {};</pre>
			<textarea id="userbot-setup" class="codeinput" cols=80 rows=10>botVars["color"] = team;</textarea>
			<pre>    return botVars;
}

function userbot_getActions(gameInfo, botVars) {
    var actions = [];</pre>
			<textarea id="userbot-getactions" class="codeinput" cols=80 rows=20>if (gameInfo[botVars["color"]+"_alive"]) {
    if (Math.random() > 0.5) { actions.push("turn right") }
    if (Math.random() > 0.5) { actions.push("fire engine") }
    if (Math.random() > 0.8) { actions.push("fire missile") }
}</textarea>
			<pre>    return actions;
}</pre>
		</div>
		
		<br/>
		
		<p>
			<button id="set-userbot" onclick="setUserBotCode()">Set userbot code</button>
			<button onclick="savePermalink()">Save permalink</button>
			<button onclick="loadFromPermalink()">Reload from permalink</button>
		</p>
		
		<p><strong>Special credit to PhiNotPi and BrainSteel of PPCG for invaluable testing and bug-fixing help, and to CᴏɴᴏʀO'Bʀɪᴇɴ for his contributions to code.</strong></p>
		
        <p>Enter your SQL query here:</p>
        <textarea id="sql">{{sql}}</textarea>
        
        <p>Optional - JavaScript to be executed on the results:<br/><span color="red"><strong>Beware of running JavaScript code from unknown or untrusted sources.</strong></span></p>
        <textarea id="javascript">{{js}}</textarea>
        
        <p>
            <button onclick="run_code()" id="run-button">Run:</button>
            <input type="checkbox" id="run-sql" name="run-type" checked />
            <label for="run-sql">SQL</label>
            <input type="checkbox" id="run-js" name="run-type" />
            <label for="run-js">JavaScript</label>
            <!-- <br/>
            <a href="" id="permalink" hidden>Permalink</a> -->
        </p>
        
        <p id="qout">Query output:</p>
        <div id="query-output" style="overflow:auto; max-height:25em; display:inline-block;"></div>
        
        <p>Visualization area:</p>
        <div id="vizdiv">
            <svg style="border: 1px solid black" id="viz"></svg>
        </div>
        
        <h2>Notes:</h2>
        <ul>
            <li>The underlying database engine is PostgreSQL.</li>
            <li>Query execution time is currently limited to 10 seconds, and only read-only operations are allowed.</li>
            <li>There are currently three tables (all prepended with <code>transcriptAnalyzer_</code>, possibly to be fixed later):
                <ul>
                    <li><code>user</code>, which has two columns: <code>id</code> (internal user id) and <code>uid</code> (SE chat id, auto-linked);</li>
                    <li><code>username</code>, which has three columns: <code>id</code>, <code>name</code>, and <code>user_id (internal id)</code>;</li>
                    <li><code>message</code>, which has eleven columns:
                        <ul>
                            <li><code>user_id</code> &ndash; the user who posted the message (internal id)</li>
                            <li><code>mid</code> &ndash; message id (auto-linked)</li>
                            <li><code>rid</code> &ndash; reply id, the message id of the message being replied to (if applicable)</li>
                            <li><code>room</code> &ndash; the id of the chat room the message was in (240 for now)</li>
                            <li><code>date</code> &ndash; YYYY-MM-DD format</li>
                            <li><code>time</code> &ndash; somewhat coarse-grained, due to how SE chat displays message times</li>
                            <li><code>content</code> &ndash; currently provided as raw HTML</li>
                            <li><code>name</code> &ndash; the username of the user who posted the message at the time of posting</li>
                            <li><code>stars</code> &ndash; how many stars the message has</li>
                            <li><code>onebox</code> &ndash; whether or not the message has a onebox</li>
                            <li><code>oneboxType</code> &ndash; post, message, youtube, etc...</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Normally, the <code>content</code> column is escaped, so you see the raw HTML. You can name it <code>content_rendered</code> to not escape the HTML, but beware that it will look wrong due to the lack of supporting CSS, images will be at full size, there might be other issues, and finally, may be unsafe.</li>
            <li>The jQuery (version 1.10.2), D3 (version 4.0), and Plotly (latest version) JavaScript libraries are all available for use.</li>
            <li>The provided SVG for visualization has an id of "viz".</li>
            <li>The variable <code>queryOutput</code> contains the query results in JSON format.</li>
        </ul>
	
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/prototype/1.7.3.0/prototype.js"></script>
		<script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script src="{% static 'agora_spacewar/sorttable.js' %}"></script>
		{% for script in scripts %}
			<script src="{% static script %}"></script>
		{% endfor %}
		<p style="display:none" id="script-names">{{scripts}}</p>
	</body>
</html>